{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
  <link rel="stylesheet" href="{% static 'assets2/style.css' %}">
  <title>Interact | Login </title>
  <style>
    body{
      font-family: Arial, Helvetica, sans-serif;
      background-image: url("https://img.freepik.com/free-vector/stylish-white-background-with-diagonal-lines_1017-33199.jpg?w=1380&t=st=1680343825~exp=1680344425~hmac=9625a3c04432bc582a186c5308d99c60f5a4d28d5a08a92eba97964120c68003");
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size:cover;
    }
  </style>
</head>

<body>

  <div id="wrapper">
    <div class="container">
      <div class="form-data" style="box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;border-radius: 16px;backdrop-filter: blur(5px);">
        <form action="" method="POST" style="border-radius: 16px;background-color: rgba(240, 248, 255, 0);backdrop-filter: blur(15px);">{% csrf_token %}
          <div class="logo">
            <b style="font-size: 40px;font-weight: bolder;letter-spacing: 12px;">INTERACT</b>
          </div>
          <br><br>
          {{form}}
          <button class="form-btn" type="submit" style="background-color: black;">Log in</button>
          <!-- <a href="index.html" class="form-btn" type="submit">Log in</a> -->
          <span class="has-separator">Or</span>
          
        </form>
        <div class="sign-up" style="background-color: rgba(240, 248, 255, 0);">
          Don't have an account? <a href="{% url 'sign-up' %}">Sign up</a>
        </div>
        <br>
      </div>
    </div>
</body>
<footer style="margin-top:44px;padding: 0%;padding-bottom: 12px;text-align: right;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
  @2023 CE096 DEEP PATEL
</footer>
</html>
